
section#about{

  border-bottom: 1px solid;
  background-color: whitesmoke;
  height: 100vh;
  box-sizing: border-box;
  min-height: 600px;
}
section#about .wrap{

  padding-top: 50px;
  border-radius: 30px;
  padding-bottom: 50px;
}
section#about .wrap h2 {

  margin-bottom: 20px;
}
section#about .wrap p {

  font-size: 16px;
}
section#about .wrap ul {

  font-size: 20px;
  text-align: left;
  margin-left: 15px;
  line-height: 2;
  font-family: 'Roboto', sans-serif;
}
section#about .wrap ul li{

  line-height: 2;
}

section#about .wrap div {
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  margin-top: 50px;
  border: 3px solid;
}

section#about .wrap div img {
  width: 320px;    
  height: 350px;  
  border: 2px solid;
}