aside{
   
  position: fixed;
  right: 20px;
  top: 50%;
}
aside ul{
   
}
aside ul li{
   
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 0;
  border: 3px solid black;
  margin: 15px;
  background-color: rgba(255,0,0,0.8);
}
aside ul li:hover{
  background-color: white;
  
}
aside ul li a{
   
}