section#portfolio{

  background-color: whitesmoke;
  height: 100vh;
  min-height: 600px;
  border-bottom: 1px solid;
  box-sizing: border-box;
}
section#portfolio .wrap{
}
section#portfolio .wrap h2{
   
}
section#portfolio .wrap p{
   
}

section#portfolio .wrap ul{
  
  margin-top: 100px;
}
section#portfolio .wrap ul li{  
  width: 70%;
  margin: 0 auto;
  
}
section#portfolio .wrap ul li article{

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  border: 3px solid;
}  
section#portfolio .wrap ul li article img{
   
  width: 300px;
  height: 280px;
  overflow: hidden;
}
section#portfolio .wrap ul li div{
   
}
section#portfolio .wrap ul li div h3{
   
  font-size: 25px;
  display: block;
  text-align: left;
}
section#portfolio .wrap ul li div p{
   
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
}
section#portfolio .wrap ul li div ul{
     
  width: 300px;
  height: 120px;
  margin-top: 20px;
}
section#portfolio .wrap ul li div ul li{
   
  margin-bottom: 80px;
  border: 2px solid;
  border-radius: 20px;
  color: gray;
  line-height: 2;
}
section#portfolio .wrap ul li div span{
   
  display: flex;
  justify-content: center;
}
section#portfolio .wrap ul li div span button{
   
  margin-left: 30px;
  line-height: 2;
}
section#portfolio .wrap aside{

  position: relative;
}
section#portfolio .wrap aside a:nth-child(1){
  
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  left: -150px;
  border-radius: 40px;
  border: 1px solid;
  font-size: 0;
  background-image: url(../img/arrowback.svg);
  background-repeat: no-repeat;
  background-position: center;
}
section#portfolio .wrap aside a:nth-child(2){
  
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  right: -150px;
  border-radius: 40px;
  border: 1px solid;
  font-size: 0;
  background-image: url(../img/arrowforward.svg);
  background-repeat: no-repeat;
  background-position: center;
}
