section#portfolio{

  background-color: whitesmoke;
  height: 100vh;
  min-height: 600px;
  border-bottom: 1px solid;
  box-sizing: border-box;
}
section#portfolio .wrap{
  height: 100%;
}
section#portfolio .wrap h2{
   
  margin-bottom: 50px;
}
section#portfolio .wrap p{
   
}

section#portfolio .wrap ul {
  
}
section#portfolio .wrap ul li{  
  width: 100%;
  margin: 0 auto;
}

section#portfolio .wrap ul li article{

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  width: 100%;
}  

section#portfolio .wrap ul li article img{
   
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #ccc; 
}
section#portfolio .wrap ul li div{
   
  padding: 20px 10px;
  font-family: 'Roboto', sans-serif;
}
section#portfolio .wrap ul li div h3{
   
  font-size: 25px;
  display: block;
  text-align: left;
}
section#portfolio .wrap ul li div p{
   
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
}
section#portfolio .wrap ul li div ul{
     
}
section#portfolio .wrap ul li div ul li{
   
  margin-bottom: 20px;
  border: 2px solid;
  color: gray;
  line-height: 2;
}
section#portfolio .wrap ul li div span{
   
  display: flex;
  justify-content: center;
}
section#portfolio .wrap ul li div span button{
   
  margin-left: 30px;
  line-height: 2;
}
section#portfolio .wrap aside{

  position: relative;
}
section#portfolio .wrap aside a:nth-child(1){
  
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  left: -150px;
  border-radius: 40px;
  border: 1px solid;
  font-size: 0;
  background-image: url(../img/arrowback.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 100px;
  background-color: #0000ff45;
  top: -550px;
}
section#portfolio .wrap aside a:nth-child(2){
  
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  right: -150px;
  border-radius: 40px;
  border: 1px solid;
  font-size: 0;
  background-image: url(../img/arrowforward.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 100px;
  background-color: #0000ff45;
  top: -550px;
}
.grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}