@media screen and (max-width:1200px){
/* 헤더   */
  header {
    
  max-width: 100%;
  }
  header .wrap{    
  width: 100%;
  }
  header h1{  
  margin-left: 20px;
  }
  header ul{   
  display: flex;
  margin: 0 auto;
  }
  header div.wrap > a{ 
  margin-right: 20px;
  width: 60px;
  height: 60px;
  display: none;
  }
/* 타이틀   */
  div#title div.wrap{
    
  max-width: 100%;
  padding: 0 20px;
  }
/* 색션   */
  section#about{
  width: 100%;
  padding: 0 20px;
  }
  section#about .wrap{
  width: 100%;
  }
  section#about .wrap div{ 
  width: 100%;
  }
  section#about .wrap p{
  font-size: 15px;
  }
  section#about .wrap ul{
  font-size: 15px;
  }
/* 스킬   */
  section#skill .wrap{
  padding: 0 20px;
  }
  section#skill .wrap ul{
  gap: 120px;
  }
/* 포트폴리오   */
  section#portfolio .wrap{
  width: 100%;
  padding: 0 20px;
  }
  section#portfolio .wrap ul li:nth-child(1){
  width: 100%;
  }
  section#portfolio .wrap ul li:nth-child(2){
  display: none;
  }
  section#portfolio .wrap ul li article{
    
/* 컨택   */
  section#contact .wrap{  
  width: 100%;
  padding: 0 20px;
  }
  section#contact .wrap ul{
  gap: 50px;
  }
/* footer   */
  footer{    
  height: 100%;
  }
/* aside */
  aside ul li{
    display: none;
}